main/xiaozhi-server/config/cat_sounds/
main/xiaozhi-server/config/dog_sounds/
main/xiaozhi-server/config/cat_translator_sounds/
main/xiaozhi-server/music/

.git
__pycache__
*.pyc
.env
Dockerfile
tmp/
data/